WANDB_API_KEY=your_key_here
WANDB_PROJECT=voter-turnout-2026
WANDB_ENTITY=your_team_here
DATA_PATH=data/synthetic/
# Uncomment to use local W&B Server instead of cloud
# WANDB_BASE_URL=http://localhost:8080
